content/post/draft-ideas
public/.DS_Store
public/2017/11/03/hello-world/index.html
public/2017/11/04/istio-install_and_example/index.html
public/2017/11/07/istio-traffic-shifting/index.html
public/2017/11/08/istio-canary-release/index.html
public/2017/11/23/windows-proxy-scripts/index.html
public/2017/11/28/access-application-from-outside/index.html
public/2018/01/02/nginmesh-install/index.html
public/2018/02/09/docker-without-sudo/index.html
public/2018/02/09/vim-tips/index.html
public/2018/03/13/use-docker-behind-http-proxy/index.html
public/2018/03/29/what-is-service-mesh-and-istio/index.html
public/2018/04/11/service-mesh-vs-api-gateway/index.html
public/2018/04/16/using-helm-to-deploy-to-kubernetes/index.html
public/2018/05/01/may-day-jiulonghu/index.html
public/2018/05/06/cryptocurrency_week1/index.html
public/2018/05/07/cryptocurrency_week1_cryptographic_hash_function/index.html
public/2018/05/12/cryptocurrency_week1_digital_signature/index.html
public/2018/05/20/cryptocurrency_week1_scroogecoin/index.html
public/2018/05/21/algolia-integration-with-jekyll/index.html
public/2018/05/22/user_authentication_authorization/index.html
public/2018/05/23/external_system_auth/index.html
public/2018/05/23/istio-auto-injection-with-webhook/index.html
public/2018/05/23/service_2_service_auth/index.html
public/2018/05/24/set_up_my_ubuntu_desktop/index.html
public/2018/05/26/cryptocurrency_week2_distributed_consenus/index.html
public/2018/05/26/cryptocurrency_week2_incentives_and_proof_of_work/index.html
public/2018/06/02/istio08/index.html
public/2018/06/03/cryptocurrency_week3_bitcoin_script/index.html
public/2018/06/04/introducing-the-istio-v1alpha3-routing-api/index.html
public/404.html
public/algolia.json
public/categories/.DS_Store
public/categories/blog/index.html
public/categories/blog/index.xml
public/categories/blog/page/1/index.html
public/categories/index.xml
public/categories/résumé/index.html
public/categories/résumé/index.xml
public/categories/résumé/page/1/index.html
public/css/.DS_Store
public/css/bootstrap.min.css
public/css/custom.css
public/css/font-awesome.min.css
public/css/fonts/fontawesome-webfont.eot
public/css/fonts/fontawesome-webfont.svg
public/css/fonts/fontawesome-webfont.ttf
public/css/fonts/fontawesome-webfont.woff
public/css/fonts/fontawesome-webfont.woff2
public/css/fonts/FontAwesome.otf
public/css/hux-blog.min.css
public/css/iDisqus.min.css
public/css/style.css
public/css/syntax.css
public/img/.DS_Store
public/img/404-bg.jpg
public/img/avatar-zhaohuabing.jpg
public/img/avatar-zhaohuabing1.jpg
public/img/contact-bg.jpg
public/img/favicon.ico
public/img/favicon.png
public/img/home-bg-jeep.jpg
public/img/IMG_0437.jpg
public/img/img_1469.ico
public/img/IMG_1469.jpg
public/img/IMG_1922.jpeg
public/img/post-bg-coffee.jpeg
public/img/post-bg-unix-linux.jpg
public/img/search.png
public/img/tag-bg.jpg
public/img/wechat_qrcode.jpg
public/index.html
public/index.xml
public/js/bootstrap.js
public/js/bootstrap.min.js
public/js/eac.
public/js/fitvids.js
public/js/hux-blog.js
public/js/hux-blog.min.js
public/js/iDisqus.js
public/js/iDisqus.min.js
public/js/jquery.js
public/js/jquery.min.js
public/js/jquery.tagcloud.js
public/js/jquerymigrate.js
public/js/production.min.js
public/page/.DS_Store
public/page/1/algolia.json/index.html
public/page/1/index.html
public/page/2/algolia.json
public/page/2/index.html
public/page/3/algolia.json
public/page/3/index.html
public/page/4/algolia.json
public/page/4/index.html
public/page/5/algolia.json
public/page/5/index.html
public/page/6/algolia.json
public/page/6/index.html
public/page/7/algolia.json
public/page/7/index.html
public/post/.DS_Store
public/post/2015-07-23-r-rmarkdown.Rmd
public/post/2015-07-23-r-rmarkdown/index.html
public/post/2015-07-23-r-rmarkdown_files/.DS_Store
public/post/2015-07-23-r-rmarkdown_files/figure-html/pie-1.png
public/post/2018-05-12-cryptocurrency_week1_hash_pointer_and_data_structures/index.html
public/post/2018-07-08-blah-blah.Rmd
public/post/2018-07-08-résumé.Rmd
public/post/2018-07-08-second-post.Rmd
public/post/2018-07-08-testtesttest.Rmd
public/post/blah-blah/index.html
public/post/index.xml
public/post/résumé/index.html
public/post/second-post/index.html
public/post/testtesttest/index.html
public/search/index.html
public/search/index.xml
public/sitemap.xml
public/tags/api-gateway/index.html
public/tags/api-gateway/index.xml
public/tags/api-gateway/page/1/index.html
public/tags/bitcoin/index.html
public/tags/bitcoin/index.xml
public/tags/bitcoin/page/1/index.html
public/tags/bitcoin/page/2/index.html
public/tags/blockchain/index.html
public/tags/blockchain/index.xml
public/tags/blockchain/page/1/index.html
public/tags/blockchain/page/2/index.html
public/tags/cryptocurrency/index.html
public/tags/cryptocurrency/index.xml
public/tags/cryptocurrency/page/1/index.html
public/tags/cryptocurrency/page/2/index.html
public/tags/digital-signature/index.html
public/tags/digital-signature/index.xml
public/tags/digital-signature/page/1/index.html
public/tags/docker/index.html
public/tags/docker/index.xml
public/tags/docker/page/1/index.html
public/tags/economics/index.html
public/tags/economics/index.xml
public/tags/economics/page/1/index.html
public/tags/guide/index.html
public/tags/guide/index.xml
public/tags/guide/page/1/index.html
public/tags/helm/index.html
public/tags/helm/index.xml
public/tags/helm/page/1/index.html
public/tags/index.xml
public/tags/istio/index.html
public/tags/istio/index.xml
public/tags/istio/page/1/index.html
public/tags/istio/page/2/index.html
public/tags/jekyllq/index.html
public/tags/jekyllq/index.xml
public/tags/jekyllq/page/1/index.html
public/tags/kubernetes/index.html
public/tags/kubernetes/index.xml
public/tags/kubernetes/page/1/index.html
public/tags/microservice/index.html
public/tags/microservice/index.xml
public/tags/microservice/page/1/index.html
public/tags/microservice/page/2/index.html
public/tags/nginmesh/index.html
public/tags/nginmesh/index.xml
public/tags/nginmesh/page/1/index.html
public/tags/plot/index.html
public/tags/plot/index.xml
public/tags/plot/page/1/index.html
public/tags/psychology/index.html
public/tags/psychology/index.xml
public/tags/psychology/page/1/index.html
public/tags/r-markdown/index.html
public/tags/r-markdown/index.xml
public/tags/r-markdown/page/1/index.html
public/tags/regression/index.html
public/tags/regression/index.xml
public/tags/regression/page/1/index.html
public/tags/security/index.html
public/tags/security/index.xml
public/tags/security/page/1/index.html
public/tags/service-mesh/index.html
public/tags/service-mesh/index.xml
public/tags/service-mesh/page/1/index.html
public/tags/tips/index.html
public/tags/tips/index.xml
public/tags/tips/page/1/index.html
public/tags/travel/index.html
public/tags/travel/index.xml
public/tags/travel/page/1/index.html
public/tags/ubuntu/index.html
public/tags/ubuntu/index.xml
public/tags/ubuntu/page/1/index.html
public/tags/vim/index.html
public/tags/vim/index.xml
public/tags/vim/page/1/index.html
.Rproj.user
draft-ideas